:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset margins and paddings for all elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-width: 320px;
  background-color: #242424;
  /* remove display: flex and place-items here */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

/* Custom width utilities */
.w-10 {
  width: 10% !important;
}

.w-33 {
  width: 33% !important;
}

.w-66 {
  width: 66% !important;
}

.w-80 {
  width: 80% !important;
}

/* src/assets/custom-bootstrap.css */
.bg-blue-primary {
  background-color: #2b4570 !important;
}

.text-blue-primary {
  color: #1F2D5C !important;
}

.bg-blue-sky {
  background-color: #78a1bb !important;
}

.text-blue-sky {
  color: #78a1bb !important;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}